
body {
    /*background-color: #94928d;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

*/
background-image: url("img/fondo.jpg");
background-repeat: no-repeat;
}

#cartTitle{
    margin: 5px 0;
    padding:5px;
    color: rgb(104, 107, 104);
    position: relative;
    top: 10px; left: 360px
}

#close{
    margin: 5px;
    position: relative;
    top: 10px; left:750px;
    color: rgb(127, 255, 153);
}

.productInCart {
  color:black;
  background-color: grey;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 10px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}


.card {
    margin:15px;
    padding:0,5px
}

#product-container {
    display: grid;
    margin: 90px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}  

#contenedor-productos {
    display: grid;
    margin: 90px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
} 

.titulo{
    font-size: 100px;
    margin: 15px auto;
    text-align: center;
    color: chartreuse;
}

